@model IEnumerable<Process_Software.Models.Work>
@{
    var Role = Context.Session.GetString("Default");
}
<h1>Edit Task List (@Role)</h1>

@using (Html.BeginForm("Edit", "Work", FormMethod.Get, new { id = "Filters", name = "Filters", enctype = "multipart/form-data" }))
{
    @Html.Editor(null, "Search")
}
@using (Html.BeginForm("Edit", "Work", FormMethod.Post, new { id = "manage", name = "manage", enctype = "multipart/form-data" }))
{
    
    <table class="table table-striped table-primary table-bordered" style="max-width:1300px; min-width:900px">
        <thead>
            <tr>
                <th scope="col" style="max-width:150px;">
                    @Html.DisplayName("Create Date")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Assign By/ Requester")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Assign To/ Provider")
                </th>
                <th class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Remark)
                </th>

                <th class="text-center" style="max-width:300px;">
                    @Html.DisplayName("Manage")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var work in Model)
                {
                    if (work.ID == ViewBag.WorkIDs)
                    {
                        List<SelectListItem> StatusDropdownList = ViewBag.StatusDropdownList;
                        List<SelectListItem> UserProviserDropdownList = ViewBag.UserProviserDropdownList;
                        List<SelectListItem> WorkProjectDropdownList = ViewBag.WorkProjectDropdownList;
                        List<SelectListItem> FilterProvider = ViewBag.FilterProvider;

                        @Html.EditorFor(m => work)
                    }
                    else
                    {
                        @Html.DisplayFor(m => work)
                    }
                }

            </tr>
        </tbody>
    </table>
}
<div class="col-md-2">
    <a asp-action="Manage"
       asp-controller="Work"
       asp-route-id="@GlobalVariable.UserID"
       asp-route-AssignBy="@Context.Session.GetString("AssignBy")"
       asp-route-FilltersProvidersID="@Context.Session.GetString("Default")"
       asp-route-Project="@Context.Session.GetString("Project")"
       asp-route-Status="@Context.Session.GetString("Status")"
       asp-route-IsChangePage="true"
       class="btn btn-secondary">Create task</a>
</div>
