@model IEnumerable<Process_Software.Models.Work>
<h1>History Task Log</h1>
@using (Html.BeginForm("Edit", "Work", FormMethod.Post, new { id = "manage", name = "manage", enctype = "multipart/form-data" }))
{
    <table class="table table-bordered table-primary" style="max-width:1300px">
        <thead>
            <tr>
                <th scope="col" style="max-width:150px;">
                    @Html.DisplayName("Create Date")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Due Date")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Assign By/ Requester")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Assign To/ Provider")
                </th>
                <th class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Status")
                </th>
                <th class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Remark)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @Html.DisplayFor(m => m, "HistoryTemp")
            </tr>
        </tbody>
    </table>
}
<div class="col-md-2">
    @Html.ActionLink("Create", "Manage", new { }, new { @class = "btn btn-secondary" })
</div>