@model IEnumerable<Process_Software.Models.Work>
@{
    var Role = Context.Session.GetString("Default");
}
<h1>History Task Log (@Role)</h1>
@using (Html.BeginForm("History", "Work", FormMethod.Get, new { id = "Filters", name = "Filters", enctype = "multipart/form-data" }))
{
    @Html.Editor(null, "Search")
}
@using (Html.BeginForm("Edit", "Work", FormMethod.Post, new { id = "manage", name = "manage", enctype = "multipart/form-data" }))
{
    <table class="table table-bordered table-primary" style="max-width:1300px">
        <thead>
            <tr>
                <th scope="col" style="max-width:150px;">
                    @Html.DisplayName("Create Date")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Assign By/ Requester")
                </th>
                <th scope="col" class="text-center" style="max-width:150px;">
                    @Html.DisplayName("Assign To/ Provider")
                </th>
                <th class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="text-center" style="max-width:150px;">
                    @Html.DisplayNameFor(model => model.Remark)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @Html.DisplayFor(m => m, "HistoryTemp")
            </tr>
        </tbody>
    </table>
}
<div class="col-xl-12">
    <div class="d-flex justify-content-between align-content-center">
        @* @Html.ActionLink("Create", "Manage", new { }, new { @class = "btn btn-secondary" }) *@
        <a asp-action="Manage"
           asp-controller="Work"
           asp-route-id="@Context.Session.GetInt32("UserID")"
           asp-route-AssignBy="@Context.Session.GetString("AssignBy")"
           asp-route-FilltersProvidersID="@Context.Session.GetString("FilltersProvidersID")"
           asp-route-Project="@Context.Session.GetString("Project")"
           asp-route-Status="@Context.Session.GetString("Status")"
           asp-route-IsChangePage="true"
           class="btn btn-secondary">Create task</a>
        <a asp-action="Index"
           asp-route-id="@Context.Session.GetInt32("UserID")"
           asp-controller="Work"
           asp-route-AssignBy="@Context.Session.GetString("AssignBy")"
           asp-route-FilltersProvidersID="@Context.Session.GetString("FilltersProvidersID")"
           asp-route-Project="@Context.Session.GetString("Project")"
           asp-route-Status="@Context.Session.GetString("Status")"
           asp-route-IsChangePage="true" 
           class="btn btn-danger d-flex justify-content-end">Back</a>
    </div>
</div>

