@model IEnumerable<Process_Software.Models.Work>

<h1>Task List</h1>
@{
    var StatusValueList = ViewBag.StatusValue;  
    string userName = ViewBag.UserName;
}
@if (TempData["AlertMessage"] != null)
{
    <div id="alertDiv" class="alert alert-success alert-dismissible fade show" role="alert">
        Welcome account : <strong>@userName</strong>
        <button type="button" class="close closeAlert" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#alertDiv').addClass('d-none');
            }, 3000);
        });
    </script>
}


@* <h1>Welcom @userName</h1> *@
<table class="table table-primary text-center table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center">
                @Html.DisplayName("Create Date")
            </th>
            <th scope="col" class="text-center">
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th scope="col" class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th scope="col" class="text-center">
                @Html.DisplayName("Due Date")
            </th>
            <th scope="col" class="text-center">
                @Html.DisplayName("Assign By/ Requester")
            </th>
            <th scope="col" class="text-center">
                @Html.DisplayName("Assign To/ Provider")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayName("Manage")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
            @Html.DisplayFor(m => i,"","Work")

        }
    </tbody>
    
</table>

    <div class="col-md-2">
        @Html.ActionLink("Create", "Manage", new {}, new { @class = "btn btn-secondary" })
    </div>


