@model IEnumerable<Process_Software.Models.Work>
@{
    List<SelectListItem> StatusDropdownList = ViewBag.StatusDropdownList;
    List<SelectListItem> UserProviserDropdownList = ViewBag.UserProviserDropdownList;
    var UserList = ViewBag.UserList;
    int count = Model.Count() + 1;
    string? historyText = ViewBag.HistoryText;
    int? historyID = ViewBag.HistoryID;

}
@foreach (var work in Model)
{
    <tr class="table table-striped table-light">

        <td style=" min-width:120px;">
            @Html.DisplayFor(m => work.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(m => work.Project)
        </td>
        <td>
            @Html.DisplayFor(m => work.Name)
        </td>
        <td style=" min-width:120px;">
            @Html.DisplayFor(model => work.DueDate)

        </td>
        <td>
            @foreach (var item in UserProviserDropdownList)
            {
                if (work.CreateBy == int.Parse(item.Value))
                {
                    @Html.DisplayName(item.Text)
                }
            }
        </td>


        <td>
            @foreach (var i in work.Provider)
            {
                if (i.IsDelete != true)
                {
                    if (i == work.Provider.Last())
                    {
                        @Html.DisplayFor(m => i.User.Name)
                    }
                    else
                    {
                        @Html.DisplayFor(m => i.User.Name)
                        @Html.DisplayName(" , ")
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(m => work.Status.StatusName)
        </td>
        <td>
            @Html.DisplayFor(m => work.Remark)

        </td>

        <td>
            <table style="max-width:450px">
                <tr>
                    <td>
                        @if (work.ID == ViewBag.HistoryID)
                        {
                            if (historyText != null)
                            {
                                <div style="background-color: lightblue; width:230px;">
                                    @Html.Raw(historyText)
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex justify-content-start">
                                        <span>@Html.DisplayName("Name: ")</span>
                                        <span>@Html.DisplayFor(m => work.Project)</span>
                                    </div>
                                    <a asp-action="Index"
                                       asp-route-id="@Context.Session.GetInt32("UserID")"
                                       asp-controller="Work"
                                       asp-route-AssignBy="@Context.Session.GetString("AssignBy")"
                                       asp-route-FilltersProvidersID="@Context.Session.GetString("FilltersProvidersID")"
                                       asp-route-Project="@Context.Session.GetString("Project")"
                                       asp-route-Status="@Context.Session.GetString("Status")"
                                       asp-route-IsChangePage="true" 
                                       class="btn btn-outline-danger">Close</a>
                                </div>

                                <br />

                                <table class="table table-primary table-bordered" style="max-width:auto; min-width:auto">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="max-width:auto; min-width:auto">
                                                @Html.DisplayName("No")
                                            </th>
                                            <th scope="col" style="max-width:150px; min-width:150px;">
                                                @Html.DisplayName("Description")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (work.ID == historyID)
                                        {
                                            @Html.DisplayFor(m => work.WorkLog)
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
}
