@model WorkLog
@{
    var UpdateBy = ViewBag.UpdateBy;
}
@if (Model.nextWorklog != null)
{
    <tbody class="table-secondary">
        <tr>
            <td>@Html.DisplayFor(m => m.No)</td>
            <td>
                @if (Model.WorkID == ViewBag.ID)
                {
                    <strong class="">Update by: </strong>

                    @Html.DisplayFor(m => m.LogContent)
                }
                <br />
                @if (Model.UpdateDate != Model.nextWorklog.UpdateDate)
                {
                    <strong class="">Update Date: </strong>
                    @Html.ValueFor(m => m.nextWorklog.UpdateDate, "{0:dd/MM/yyyy hh:mm tt}")
                }

                <br />
                @if (Model.Project != Model.nextWorklog.Project)
                {
                    <strong class="">Project: </strong>
                    @Html.DisplayFor(m => m.Project)
                    @Html.DisplayName(" -> ")
                    @Html.DisplayFor(m => m.nextWorklog.Project)
                    <br />
                }
                @if (Model.Name != Model.nextWorklog.Name)
                {
                    <strong class="">Name: </strong>

                    @Html.DisplayFor(m => m.Name)
                    @Html.DisplayName(" -> ")
                    @Html.DisplayFor(m => m.nextWorklog.Name)
                    <br />
                }
                @if (Model.DueDate != Model.nextWorklog.DueDate)
                {
                    <strong class="">Due Date: </strong>
                    if (Model.DueDate == null)
                    {
                        @Html.DisplayName("Indefinable ")
                    }
                    else
                    {
                        @Html.ValueFor(model => model.DueDate, "{0:dd/MM/yyyy}")
                    }
                    @Html.DisplayName(" -> ")
                    if (Model.nextWorklog.DueDate == null)
                    {
                        @Html.DisplayName("Indefinable ")
                    }
                    else
                    {
                        @Html.ValueFor(m => m.nextWorklog.DueDate, "{0:dd/MM/yyyy}")
                    }
                    <br />
                }
                @if (Model.StatusID != Model.nextWorklog.StatusID)
                {
                    <strong class="">Status: </strong>
                    @Html.DisplayFor(m => m.Status.StatusName)
                    @Html.DisplayName(" -> ")
                    @Html.DisplayFor(m => m.nextWorklog.Status.StatusName)
                    <br />
                }


                @{
                    List<ProviderLog> oldProviderLogList = Model.ProviderLog.Where(s => s.IsDelete == false).ToList();
                    List<ProviderLog> newProviderLogList = Model.nextWorklog.ProviderLog.Where(s => s.IsDelete == false).ToList();
                    if (oldProviderLogList.Count() != newProviderLogList.Count())
                    {
                        <strong class="">Provider: </strong>
                        string oldUser = "";
                        string newUser = "";
                        foreach (var i in oldProviderLogList)
                        {
                            if (i == oldProviderLogList.Last())
                            {
                                oldUser += i.User.Name;
                            }
                            else
                            {
                                oldUser += i.User.Name + ",";
                            }
                        }
                        foreach (var i in newProviderLogList)
                        {
                            if (i == newProviderLogList.Last())
                            {
                                newUser += i.User.Name;
                            }
                            else
                            {
                                newUser += i.User.Name + ",";
                            }
                        }
                        <span class="text-danger">@oldUser</span>
                        <span class="text-dark fw-bold">--></span>
                        <span class="text-success">@newUser</span>

                        <br />
                    }
                }


                @if (Model.Remark != Model.nextWorklog.Remark)
                {
                    @Html.DisplayName("Remark: ")
                    @Html.DisplayFor(m => m.Remark)
                    @Html.DisplayName(" -> ")
                    @Html.DisplayFor(m => m.nextWorklog.Remark)

                    <br />
                }
            </td>
        </tr>
    </tbody>
}